
/* @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --custom-box-shadow: 0 25px 130px -12px rgba(0, 0, 0, 0.25);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #F1F1F1;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b3b3b3;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b4b2b2;
  }
  body{
    font-family: 'Cairo', sans-serif;
    background-color: #ffff;
    overflow-x: hidden;
  }
  .title{
    font-size: 14px;
  }
  .toggle-width{
    position: relative;
    top:230px;
    right: 10px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    cursor: pointer;
    color: #666;
  }

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

/* Modal styles */
.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index:10000;
  width: 100%;
}

.modal {
  animation: slideIn 0.3s ease-out; /* Adjust animation duration and easing as needed */
}

.animated-modal {
  animation: slideIn 0.3s ease-out; /* Same duration and easing as the modal */
}

/* Additional styles for your modal */




  .shadow-dropp{
    box-shadow: -1px 7px 5px 0px rgba(190,190,190,0.38);
-webkit-box-shadow: -1px 7px 5px 0px rgba(190,190,190,0.38);
-moz-box-shadow: -1px 7px 5px 0px rgba(190,190,190,0.38);
transition: 0.5s  all;

  }


  .my-drag-overlay {
    cursor: grabbing;
  }
  .testcss
  {
    width:15%;
    position: fixed;
    top:30px;
    right: 1px;
    background-color: whitesmoke;
    

  }
  /* BookmarkSidebar.css */
.bookmark-sidebar {
  transition: all 0.3s ease-in-out;
}

.sidebar-container {
  transition: opacity 0.5s ease-in-out;
}

.search-input {
  /* Transition for the search input field */
  transition: border-color 0.3s ease-in-out;
}

.search-input:focus {
  /* Change border color on focus */
  border-color: gray;
}

.bookmarks-container {
  /* Transition for the bookmarks list */
  transition: transform 0.3s ease-in-out;
}

.bookmarks-title {
  /* Transition for the title */
  transition: color 0.3s ease-in-out;
}


/* 
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sidebar-animation {
  animation: fadeIn 1s ease-out;
} */



@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.sidebar-animation {
  animation: slideIn 0.5s ease-out;
} 
.shadowsidebar{
  box-shadow: 15px 10px 17px -11px rgba(155,148,148,0.45);
  -webkit-box-shadow: 15px 10px 17px -11px rgba(155,148,148,0.45);
  -moz-box-shadow: 15px 10px 17px -11px rgba(155,148,148,0.45);
}

.shadowmenu{
  box-shadow: -1px 1px 23px 0px rgb(0 0 0 / 15%) !important;
-webkit-box-shadow: -1px 1px 23px 0px rgb(0 0 0 / 15%) !important;
-moz-box-shadow: -1px 1px 23px 0px rgb(0 0 0 / 15%) !important;
}
.opa{
  opacity: 0.5;
}


.active-keyword {
  background-color: #ba9934;
  
  font-weight: bold;
}


.highlight {
  background-color: yellow; 
  font-weight: bold;
}
.highlightt {
  /* Your existing styles for highlight */
  background-color: yellow;
  font-weight: bold;
}

.occurrence-number {
  color: red;
  font-weight: bold;
  margin:0px 4px;
}


 .spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
 border-top: 4px solid white;
  width: 20px;
  height: 20px;
   -webkit-animation: spin 1s linear infinite; /* Safari */
   animation: spin 1s linear infinite;
}

 /* Safari */
 @-webkit-keyframes spin {
   0% { -webkit-transform: rotate(0deg); }
 100% { -webkit-transform: rotate(360deg); 
} }

 @keyframes spin {
   0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
 }

 

.Toastify__toast-body > div:last-child {
  word-break: break-word;
  flex: 1 1;
  text-align: left !important;
}

.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 500px; 
  padding: 20px;
  z-index: 1000; 
}



/* .sc-hKFymg , .sc-bCwene {
  background-color: #ba9934;
} */


.rdt_TableHeadRow div{
  background-color: #ba9934;
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;
}
 .bXLDzR{
  overflow: visible !important;
}

.tooltip-container {
  /* position: relative; */
  display: inline-block;
  cursor: pointer;
}
.tooltip-text {
  visibility: hidden;
  width: 299px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 25px;
  left: 50%;
  margin-left: -164px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
}
/*----header of table====*/
.dJBbXM{
padding-left: 0 !important;
}

.rdt_TableCol_Sortable,.rdt_TableCell ,.rdt_TableCell div {
  justify-content: center !important;
  text-align: center !important;
}



.sc-bYwyHq .sc-kLokBR .lhXYTv .kRhoue{
 visibility: hidden;

}
.kRhoue {
  margin: 0px !important;
}
.heading_rank{
  letter-spacing: 2px;
}

/* html {
  overflow: auto !important;
  padding-right: 0px !important;
} */
.lolo .kgGExh {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  max-width: 100%;
  min-width: 30px;
  width: 1px;

}
.heading_key{
  position: sticky;
    top: 70px;
    z-index: 10000;
    padding: 1rem;
    background: #ba9934;
    color: white;
}
.lolo .rdt_TableCol{
  border-radius: 0.375rem;
  margin:1px;
  pointer-events: none;
}
.lolo .exulgn,
.lolo .vUSvH{
  display:none;
}














.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 10000;
  bottom: 100%;
  left: 0%;
  /* margin-left: -50px; */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.lolo .rdt_Pagination
{
  display: none;
}


/* Add this to your global CSS or a CSS module */
.tooltip-container:hover .tooltip-content {
  display: block;
  width:30px; 
  text-align: center;
  left:-20%;
}


.stickySidebar {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 80px; /* Adjust based on your header's height or desired offset */
  height: calc(80vh - 90px); /* Adjust if you have a header/footer */
  overflow-y: auto; /* To make only the sidebar scrollable if it exceeds screen height */
}
.update-query{
  position: fixed;
  background-color: white;
  z-index: 9999999;
  width: 17%;
  bottom: 0;
  right: 0;
  height: 217px;
  padding-top: 1rem;
  border: 1px solid;
  overflow: auto;
  border-color: rgb(229 231 235);
  padding-top: 3rem;
  transition: all ease-in-out 1s;
}
